<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-webview-board" version="0.0.1">
  <name>Cordova Plugin Webview Board</name>
  <description>webview board</description>
	<engines>
		<engine name="cordova-android" version=">=7.1.0" />
	</engines>
  <js-module src="www/CordovaWebviewBoard.js" name='WebviewBoard' >
    <clobbers target="WebviewBoard" />
  </js-module>
  
  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CDVWebviewBoard">
        <param name="onload" value="true" />
        <param name="ios-package" value="CDVWebviewBoard" />
      </feature>

      <preference name="deployment-target" value="10.0" />
    </config-file>

    <source-file src="src/ios/CDVWebviewBoard.swift" />
    <source-file src="src/ios/CDVWebviewBoard-Bridging-Header.h" />

    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>
  
  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CDVWebviewBoard">
        <param name="android-package" value="jp.rabee.CDVWebviewBoard"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/java/CDVWebviewBoard.kt" target-dir="app/src/main/kotlin/jp/rabee"/>

    <!--for support kotlin-->
    <hook type="after_platform_add" src="scripts/android/copy_build_extras.js" />
    <hook type="after_plugin_add" src="scripts/android/copy_build_extras.js" />

  </platform>

</plugin>
